# ============================================
# Netbeans:
/nbproject/

# ============================================
# PhpStorm:
/.idea/

# ============================================
# Other:
*.pyc
__pycache__

/testingfolder/
/testingfile.py
